:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #008080;
  color: #fff;
  font: inherit;
  cursor: pointer;
  overflow: hidden;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::before,
.btn::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-size: contain;
}

.btn::before {
  margin-right: 5px;
  background-image: url(../images/icon.svg);
}

.btn:focus::before,
.btn:hover::before {
  transform: translateY(-35px);
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 30px;
  background-image: url(../images/logo.svg);

  transform: translateY(calc(-50% + 35px));
}

.btn:hover::after {
  transform: translateY(-50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn.focus {
  background-color: #d87093;
}
